ul li{
    list-style-type:none;
}
.movie_info_wraper{

    .movie_info{
        div{
            border-bottom: 1px solid #e2e2e2;
            padding: 10px 0;
        }
        .movie_title{
            font-size: 1.3rem;
            font-weight: 600;
        }
        .movie_view{
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        .header{
            color: #bdbdbd;
            font-size: 0.8rem;
        }
    }
    .theater_info_wraper{
        .theater_info{
            font-size: 1rem;
            font-weight: 400;
        }
    }
    .time{
        font-size: 0.9rem;
    }
    .selected_seats{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .seat_green{
            font-size: 0.7rem;
            padding: 0.4rem 1.1rem;
            border: 1px solid green;
            color: green($color: #000000);
        }
    }
    .selected_seats_counts{
        display: flex;
        justify-content: space-between;

        .seat{
            font-size: 0.9rem;
            color: gray;
        }
        .total_price{
            color: red;
            font-weight: 500;
            font-size: 1.3rem;
        }
    }
    .booking_btn_wraper{
        button{
            width: 100%;
            padding:0.6rem 1rem;
            border: none;
            display: inline-block;
        }
        .submit_btn{
            background-color: #f4b400;
            color: #fff;
        }
        .cancel_btn{
            border: 1px solid #e2e2e2;
        }
         
        
    }
}